.fair-map {
    page-break-after: always;
    border-top: 2pt solid rgb(0, 0, 0);
}

svg {
    font-size: 10px;
}

svg .area-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg .area-text {
    text-align: center;
}

svg .stairs {
    fill: rgba(0, 0, 0, 0.2);
}
