.fair-cover {
    page-break-after: always;

    margin-bottom: 15px;

    @media print {
        margin: 0;
    }
}

.fair-cover-banner,
.fair-cover-page {
    width: 100%;

    @media print {
        margin-bottom: 1in;
    }
}

.fair-cover-banner-image {
    @media print {
        width: 75%;
    }
}

.fair-cover-page-image {
    display: none;

    @media print {
        display: block;
        width: 75%;
    }
}

.fair-cover-mobile {
    display: none;

    @media print {
        margin-bottom: 1in;
        display: block;

        span {
            display: block;
            font-size: 24pt;
        }
    }
}

.fair-acknowledgements {
    font-size: 8pt;

    @media print {
        font-size: 11pt;
    }
}