<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Software Fair 2023</title>
    <script src="scripts/main.js" type="application/json"></script>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <div class="page">
      <section class="fair-cover">
        <div class="fair-cover-page">
          <img src="images/cover.svg" class="fair-cover-page-image" />
        </div>
        <div>
          <img src="images/banner_2023.svg" class="fair-cover-banner-image" />
          <h1>2023 Software Fair</h1>
        </div>
        <div class="fair-cover-mobile">
          Visit the interactive guide on your phone at
          <span>cs210.github.io/fair-guide</span>
        </div>
        <section class="fair-acknowledgements">
          <p>
            <strong>Contributors</strong>
            Design and development by Derrick Liu &amp; Jonathan Kula – minor
            modifications by TTeam staff
          </p>
          <p>
            <strong>This Fair Guide is open source.</strong>
            <a
              href="https://github.com/cs210/fair-guide"
              title="Link to repository"
            >Take a look on GitHub</a>
          </p>
          .
        </section>
        <section class="fair-details">
          <h2 style="display: inline">When:</h2>
          <p style="display: inline">
            <a
              style="color: black"
              href="data/2023-event-link.ics"
              download="2023-cs-fair-event.ics"
            >June 10th, 2023 from 3:30 - 5:30pm PST</a>
          </p>
          <br />
          <h2 style="display: inline">Where:</h2>
          <p style="display: inline">
            <a
              target="_blank"
              style="color: black"
              href="https://www.campus-maps.com/stanford-university/taylor-grove-chuck/"
              title="Link to Fair Location"
            >
              Chuck Taylor Grove
            </a>
          </p>
        </section>
      </section>
      <section class="fair-map-2023">
        <img width="100%" src="images/2023/map.svg">
      </section>
      <section class="fair-guide">
        {{#each (groupsOf submissions)}}
          {{> templates/fair-section submissions=(sorted (submissionsOfGroup ../submissions this)) name=this }}
        {{/each}}
      </section>
    </div>
  </body>
</html>